/**
 * [Function Name]
 *
 * Description: [Provide a brief description of what the function does]
 *
 * Parameters:
 *   @param [paramName] - [Description of the parameter]
 *   @param [paramName] - [Description of the parameter]
 *
 * Returns:
 *   [Description of the return value]
 *
 * Example:
 *   [Provide an example of how to use the function]
 */